<p id="notice"><%= notice %></p>

<div class="container">
	<div class="col s12">
		<h1><%= @user.userName %></h1>
	</div>
	
	<h1>Groups</h1>
	<div class="row">
		
		<div class="col s12 m6">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Group Name 1</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Group Name 2</span>
					<p>These will repeat for every group the user is a part of</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Group Name 3</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Group Name 4</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		
	</div>

</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
