<p id="notice"><%= notice %></p>

<div class="container light-blue darken-4">
	<div class="col s12">
		<h1><%= @user.userName %></h1>
		<h5>Email: <%= @user.email %></h5>
		<h5>Public Key: <%= @user.pubKey %></h5>
	</div>
		
	<div class="row">
		
		<div class="col s12 m6">
			<div class="card orange darken-4">
				<div class="card-content white-text">
					<span class="card-title">Group Name 1</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card orange darken-4">
				<div class="card-content white-text">
					<span class="card-title">Group Name 2</span>
					<p>These will repeat for every group the user is a part of</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card orange darken-4">
				<div class="card-content white-text">
					<span class="card-title">Group Name 3</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card orange darken-4">
				<div class="card-content white-text">
					<span class="card-title">Group Name 4</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		
	</div>

</div>