<div class="slider fullscreen">
  <ul class="slides">
    <li>
			<%= image_tag("EncryptoMailWallpaper.jpg")%>
      
      <div class="caption center-align">
        <h3>EncryptoMail</h3>
				<h5 class="light grey-text text-lighten-3">Time to get crypted.</h5>
				<a class="waves-effect waves-light btn">
					<%= button_to "Register", home_register_path, method: :get %>
				</a>
				<a class="waves-effect waves-light btn">
					<%= button_to "Login", home_login_path, method: :get %>
				</a>
			</div>
	
		</li>
  </ul>
</div>
<script>
   $(document).ready(function(){
      $('.slider').slider({full_width: true, indicators: false});
    });
</script>
