<div class="slider fullscreen">
  <ul class="slides">
		<li>
			<img src="/assets/EncryptoMailWallpaper.jpg">
			<div class="caption">	
				<div class="row">
					<div class="col s12 center">
						<h3>EncryptoMail</h3>
						<h5 class="light grey-text text-lighten-3">Time to get crypted.</h5>
					</div>
				</div>

				<div class="row">
					<!-- single form tag to wrap the entire form -->
					<form>
						<div class="col s12">

							<div class="row">
								<div class="input-field col s12">
										<input id="email" type="email" class="validate">
										<label for="email">
											<h6 class="cyan-text text-accent-2 left-align">Email</h6>
										</label>
								</div>
							</div>

							<div class="row">
								<div class="input-field col s12 m6">
										<input id="password" type="password" class="validate">
										<label for="password">
											<h6 class="cyan-text text-accent-2 left-align">Password</h6>
										</label>
								</div>
								<div class="input-field col s12 m6">
										<input id="password" type="password" class="validate">
										<label for="password">
											<h6 class="cyan-text text-accent-2 left-align">Confirm Password</h6>
										</label>
								</div>
							</div>

							<div class="row">
								<div class="col s12 file-field input-field center">
									<div class="btn">
										PGP Key
										<input type="file">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>

							<div class="row center">
								<div class="col s12">
									<a class="waves-effect waves-light btn">
										<%= button_to "Register", home_index_path, method: :get %>
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</li>
	</ul>
</div>
		
<script>
   $(document).ready(function(){
      $('.slider').slider({full_width: true, indicators: false});
    });
</script>
