<div class="slider fullscreen">
  <ul class="slides">
		<li>
			<img src="<%= image_path('EncryptoMailWallpaper.jpg') %>">
			<div class="caption">	
				<div class="row">
					<div class="col s12 center">
						<h3>EncryptoMail</h3>
						<h5 class="light grey-text text-lighten-3">Time to get crypted.</h5>
					</div>
				</div>

				<div class="row">
					<%= form_for(@user) do |f| %>
						<input type="hidden" id="pass_hash" name="pass_hash" value="" />
						<div class="col s6 offset-m3">
						
						<div class="col s12">
							
							<div class="row">
								<div class="input-field col s12">
										<label for="email">
											<h6 class="cyan-text text-accent-2 left-align">Email</h6>
										</label>
										<input name="email" id="email" type="email" class="validate">
								</div>
							</div>

							<div class="row">
								<div class="input-field col s12 m6">
										<input id="password1" type="password" name="password1" class="validate" onchange="checkPasswords()">
										<label for="password1">
											<h6 class="cyan-text text-accent-2 left-align">Password</h6>
										</label>
								</div>
								<div class="input-field col s12 m6">
										<input id="password2" type="password" name="password2" class="validate" onchange="checkPasswords()">
										<label for="password2">
											<h6 class="cyan-text text-accent-2 left-align">Confirm Password</h6>
										</label>
								</div>
							</div>

							<div class="row">
								<div class="col s12 file-field input-field center">
									<div class="btn">
										PGP Key
										<input name="pub_key" type="file">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
						</div>
						
					<!-- /form -->
					<% end %>
					
					<div class="row center">
						<div class="col s12">
							<button class="waves-effect waves-light btn" onclick="submitlel()">
								Register
							</button>
						</div>
					</div>
					
				</div>
			</div>
		</li>
	</ul>
</div>
		
<script>
	$(document).ready(function(){
		$('.slider').slider({full_width: true, indicators: false});
    });
	
	String.prototype.hashCode = function() {
		var hash = 0, i, chr, len;
		if (this.length === 0) return hash;
		for (i = 0, len = this.length; i < len; i++) {
			chr   = this.charCodeAt(i);
			hash  = ((hash << 5) - hash) + chr;
			hash |= 0; // Convert to 32bit integer
		}
		return hash;
	};
	
	function checkPasswords() {
		var form = document.forms["new_user"];
		var pass = form.elements["password1"].value;
		var passConf = form.elements["password2"].value;
		
		if (pass === passConf) {
			form.elements["password1"].style.borderBottom = "1px solid #4CAF50";
			form.elements["password2"].style.borderBottom = "1px solid #4CAF50";
			form.elements["password1"].style.boxShadow = "0 1px 0 0 #4CAF50";
			form.elements["password2"].style.boxShadow = "0 1px 0 0 #4CAF50";
			
		} else {
			form.elements["password1"].style.borderBottom = "1px solid #F44336";
			form.elements["password2"].style.borderBottom = "1px solid #F44336";
			form.elements["password1"].style.boxShadow = "0 1px 0 0 #F44336";
			form.elements["password2"].style.boxShadow = "0 1px 0 0 #F44336";
		}
		
	}
	
	function hash(x) {
		console.log("Hashing " + x);	
		return "YEAH RIGHT LOLOLOLOL" + x.hashCode();
	}
	
	function submitlel() {
		var form = document.forms["new_user"];
		
		var pass = form.elements["password1"].value;
		var passConf = form.elements["password2"].value;
		
		console.log("What");
		console.log(pass + ":" + passConf);
		var passhash1 =  hash(pass);
		var passhash2 =  hash(passConf);
		
		if (pass === passConf) {
			console.log(passhash1 + " : " + passhash2);
			alert(form.elements["email"].value);
			form.elements["pass_hash"].value = passhash1;
			//form.elements["password2"].value = passhash2;
			
		
		} else {
			alert("passwords did not match");
			
			
			
			form.elements["password1"].value = "DID NOT MATCH AYY " + passhash1;
			form.elements["password2"].value = "DID NOT MATCH BEE " + passhash2;
			
		}
		
		form.submit();
	}
	
	
</script>
