<!--- do we even need this? Doesn't it just generate an alert and take you back to registration? -->
<div class="slider fullscreen">
	<ul class="slides">
		<li>
			<%= image_tag('EncryptoMailWallpaper.jpg', :alt => "Encryptomail Background") %>
		 		<div class="caption center-align">
					<h3>EncryptoMail</h3>
					<h5 class="light red-text text-lighten-3">Registration failed...</h5>
					
				</div>
			</div>
		</li>
	</ul>
</div>
		
<script>
	 $(document).ready(function(){
			$('.slider').slider({full_width: true, indicators: false});
		});
</script>
