<div class="container black-text">
	<div class="row">
		<div class="col s12">
			<h1>Editing <%= @group.group_name %></h1>
		</div>
	</div>
	<div class="row">
		<%= render 'form' %>
	</div>
	<div class="row">
		<div class="col s12">
			<%= link_to 'Back', @group, :class => "waves-effect waves-light btn green darken-3" %>
		</div>
	</div>
</div>
